## **Regression Model** - Solar Flare from RHESSI Mission
* January  09°, 2025
#### ESCOM - IPN

#### *B.S. in Data Science* 
> Sanchez Garcia Miguel Alexander

#### **0° Introduction**

**a.** Get the **libraries** we are going to use

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_squared_error, r2_score
from catboost import CatBoostRegressor, Pool

**b.** Import the data

In [38]:
data = pd.read_csv('hessi_flare_list_cleaned.csv')

#### **1° EDA (Exploratory Data Analysis)**

##### *General Data*

**a.** Let´s check the **dimensions** of the dataset

In [39]:
print('Rows: ' + str(data.shape[0]))
print('Columns: ' + str(data.shape[1]))

Rows: 15738
Columns: 14

**b.** Check the first **10 rows**

In [40]:
data.head(10)

,Flare,Date,Start,Peak,End,Dur_s,Peak_c/s,Total Counts,Energy keV,X Pos asec,Y Pos asec,Radial asec,AR,Flags
0,2021229,2002-02-12,02:15:24,02:19:22,02:25:48,624.0,46.0,75270.0,25-50,958,-118,965.0,9809.0,A1 P1
1,2021230,2002-02-12,02:49:04,02:49:38,02:50:48,104.0,20.0,6528.0,6-12,637,-100,645.0,0.0,A1 EE P1 Q1
2,2021213,2002-02-12,21:30:08,21:33:46,21:41:16,668.0,147.0,184773.0,12-25,597,-370,703.0,9811.0,A1 P1
3,2021332,2002-02-13,00:53:28,00:54:54,00:56:52,204.0,16.0,12070.0,12-25,-309,375,486.0,0.0,A1 P1
4,2021356,2002-02-13,02:48:56,02:49:34,02:50:36,100.0,13.0,4995.0,12-25,-385,299,488.0,9825.0,A1 P1
5,2021357,2002-02-13,02:51:56,02:52:30,02:53:00,64.0,65.0,3054.0,6-12,56,56,80.0,0.0,A1 P1
6,2021308,2002-02-13,04:22:24,04:23:58,04:28:04,340.0,22.0,21883.0,12-25,-286,371,468.0,0.0,A1 P1
7,2021312,2002-02-13,08:53:20,08:55:18,09:05:12,712.0,99.0,137741.0,25-50,-388,281,479.0,9825.0,A1 P1
8,2021313,2002-02-13,12:29:32,12:30:58,12:33:20,228.0,29.0,18203.0,12-25,-904,-379,981.0,0.0,A1 P1
9,2021423,2002-02-14,22:22:32,22:25:26,22:26:00,208.0,449.0,137924.0,12-25,-81,315,326.0,9825.0,A0 EE P1 Q1

#### **2° Preparing Data**

**a.** Drop innesesary dimensions

In [41]:
# Drop innesesary columns
data = data.drop(['Flare', 'Energy keV', 'Flags'], axis=1)

In [42]:
data

,Date,Start,Peak,End,Dur_s,Peak_c/s,Total Counts,X Pos asec,Y Pos asec,Radial asec,AR
0,2002-02-12,02:15:24,02:19:22,02:25:48,624.0,46.0,75270.0,958,-118,965.0,9809.0
1,2002-02-12,02:49:04,02:49:38,02:50:48,104.0,20.0,6528.0,637,-100,645.0,0.0
2,2002-02-12,21:30:08,21:33:46,21:41:16,668.0,147.0,184773.0,597,-370,703.0,9811.0
3,2002-02-13,00:53:28,00:54:54,00:56:52,204.0,16.0,12070.0,-309,375,486.0,0.0
4,2002-02-13,02:48:56,02:49:34,02:50:36,100.0,13.0,4995.0,-385,299,488.0,9825.0
...,...,...,...,...,...,...,...,...,...,...,...
15733,2011-12-24,01:46:24,01:46:54,01:47:24,60.0,18.0,5915.0,-913,-345,976.0,1386.0
15734,2011-12-26,15:44:56,15:45:06,15:45:16,20.0,36.0,3881.0,-917,-363,986.0,0.0
15735,2011-12-27,15:37:00,15:37:26,15:37:32,32.0,21.0,2961.0,-918,-378,993.0,1388.0
15736,2011-12-31,05:33:20,05:34:02,05:34:52,92.0,19.0,8061.0,-674,-399,783.0,1389.0
15737,2014-06-26,00:56:20,00:56:58,00:59:00,160.0,28.0,22811.0,-938,112,945.0,0.0

**b.** Set to datetime some dimension

**c.** Get into a list the name of categorical features

In [43]:
# Get categorical features
categorical_features = [col for col in data.columns if data[col].dtype == 'object']

**d.** Split the dataset

In [44]:
train_data, test_data = train_test_split(data, test_size=0.2, random_state=42)

In [45]:
date_columns = ['Date'] 
time_columns = ['Start', 'Peak', 'End']  

# Convert date columns to numerical format
for col in date_columns:
    train_data[col] = pd.to_datetime(train_data[col])
    train_data[col] = (train_data[col] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1D')
    test_data[col] = pd.to_datetime(test_data[col])
    test_data[col] = (test_data[col] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1D')

# Convert time columns to numerical format (seconds since midnight)
for col in time_columns:
    train_data[col] = pd.to_datetime(train_data[col], format='%H:%M:%S').dt.hour * 3600 + \
                      pd.to_datetime(train_data[col], format='%H:%M:%S').dt.minute * 60 + \
                      pd.to_datetime(train_data[col], format='%H:%M:%S').dt.second
    test_data[col] = pd.to_datetime(test_data[col], format='%H:%M:%S').dt.hour * 3600 + \
                        pd.to_datetime(test_data[col], format='%H:%M:%S').dt.minute * 60 + \
                        pd.to_datetime(test_data[col], format='%H:%M:%S').dt.second

In [46]:
train_data

,Date,Start,Peak,End,Dur_s,Peak_c/s,Total Counts,X Pos asec,Y Pos asec,Radial asec,AR
949,11819,23000,23158,23252,252.0,90.0,51369.0,835,-276,879.0,9934.0
14141,15185,70620,70810,70852,232.0,93.0,70198.0,-718,262,765.0,1263.0
10712,13455,77812,77850,77904,92.0,30.0,13118.0,-127,-179,220.0,921.0
2991,11988,84044,84362,85056,1012.0,1276.0,2098145.0,-969,150,980.0,0.0
5125,12154,32156,32210,32264,108.0,13.0,6801.0,571,177,598.0,330.0
...,...,...,...,...,...,...,...,...,...,...,...
5191,12161,83184,83446,84576,1392.0,608.0,1101792.0,-896,-185,916.0,337.0
13418,15077,82292,82598,83184,892.0,891.0,1744854.0,-892,281,936.0,1193.0
5390,12198,45044,45142,45232,188.0,34.0,22667.0,26,-79,83.0,365.0
860,11817,43508,43510,43624,116.0,45.0,22967.0,637,-428,768.0,9932.0
7270,12502,10392,10458,10552,160.0,36.0,25781.0,-935,243,966.0,582.0

#### **4° Traning the Model**

**a.** Set the model

In [83]:
models = {}
columns = train_data.columns
columns = columns.drop('Date')
for target in columns:
    print(f"Training model for {target}...")
    model = CatBoostRegressor(
        iterations=1000,
        learning_rate=0.1,
        depth=6,
        loss_function='RMSE',
        verbose=50
    )
    x = train_data['Date'].values.reshape(-1, 1)
    y = train_data[target]
    model.fit(x, y)
    models[target] = model

Training model for Start...
0:	learn: 26112.2754345	total: 2.48ms	remaining: 2.48s
50:	learn: 25898.3222587	total: 49ms	remaining: 912ms
100:	learn: 25777.1076496	total: 82.9ms	remaining: 738ms
150:	learn: 25643.8725302	total: 118ms	remaining: 664ms
200:	learn: 25547.6905206	total: 151ms	remaining: 602ms
250:	learn: 25483.0453301	total: 186ms	remaining: 556ms
300:	learn: 25435.7711386	total: 225ms	remaining: 522ms
350:	learn: 25404.2529587	total: 261ms	remaining: 483ms
400:	learn: 25382.5764323	total: 299ms	remaining: 446ms
450:	learn: 25366.2957980	total: 334ms	remaining: 407ms
500:	learn: 25355.3001638	total: 367ms	remaining: 365ms
550:	learn: 25346.9647424	total: 401ms	remaining: 327ms
600:	learn: 25341.3114675	total: 435ms	remaining: 289ms
650:	learn: 25335.6438147	total: 471ms	remaining: 253ms
700:	learn: 25331.7186646	total: 507ms	remaining: 216ms
750:	learn: 25328.0705391	total: 541ms	remaining: 179ms
800:	learn: 25325.5270372	total: 574ms	remaining: 142ms
850:	learn: 25323.3536608	total: 606ms	remaining: 106ms
900:	learn: 25321.3403199	total: 641ms	remaining: 70.4ms
950:	learn: 25319.7568379	total: 676ms	remaining: 34.8ms
999:	learn: 25318.4885498	total: 710ms	remaining: 0us
Training model for Peak...
0:	learn: 26090.3960322	total: 765us	remaining: 765ms
50:	learn: 25870.8733450	total: 34.2ms	remaining: 637ms
100:	learn: 25757.0269814	total: 67.8ms	remaining: 603ms
150:	learn: 25625.1471769	total: 102ms	remaining: 572ms
200:	learn: 25512.7931280	total: 137ms	remaining: 544ms
250:	learn: 25454.4146910	total: 219ms	remaining: 655ms
300:	learn: 25406.0932120	total: 257ms	remaining: 596ms
350:	learn: 25376.7734857	total: 293ms	remaining: 541ms
400:	learn: 25356.0419893	total: 330ms	remaining: 493ms
450:	learn: 25340.9470915	total: 367ms	remaining: 447ms
500:	learn: 25327.8041568	total: 405ms	remaining: 403ms
550:	learn: 25319.6470723	total: 440ms	remaining: 359ms
600:	learn: 25313.6218360	total: 474ms	remaining: 315ms
650:	learn: 25307.5908619	total: 508ms	remaining: 272ms
700:	learn: 25303.5000106	total: 540ms	remaining: 230ms
750:	learn: 25299.8726125	total: 574ms	remaining: 190ms
800:	learn: 25297.3708155	total: 608ms	remaining: 151ms
850:	learn: 25294.9153766	total: 641ms	remaining: 112ms
900:	learn: 25293.2051807	total: 675ms	remaining: 74.1ms
950:	learn: 25291.8408344	total: 710ms	remaining: 36.6ms
999:	learn: 25290.5244663	total: 745ms	remaining: 0us
Training model for End...
0:	learn: 26044.9816752	total: 709us	remaining: 709ms
50:	learn: 25834.8834442	total: 36.7ms	remaining: 682ms
100:	learn: 25718.6992140	total: 74.2ms	remaining: 660ms
150:	learn: 25585.2392991	total: 111ms	remaining: 624ms
200:	learn: 25489.0388996	total: 200ms	remaining: 794ms
250:	learn: 25418.3220731	total: 238ms	remaining: 709ms
300:	learn: 25368.4596823	total: 288ms	remaining: 669ms
350:	learn: 25333.4799022	total: 324ms	remaining: 599ms
400:	learn: 25312.4407283	total: 360ms	remaining: 538ms
450:	learn: 25296.0901477	total: 397ms	remaining: 484ms
500:	learn: 25284.0945786	total: 433ms	remaining: 431ms
550:	learn: 25276.0536216	total: 471ms	remaining: 384ms
600:	learn: 25269.1663944	total: 507ms	remaining: 336ms
650:	learn: 25263.5998395	total: 543ms	remaining: 291ms
700:	learn: 25259.5716192	total: 577ms	remaining: 246ms
750:	learn: 25256.1908241	total: 610ms	remaining: 202ms
800:	learn: 25253.5537600	total: 644ms	remaining: 160ms
850:	learn: 25251.3331041	total: 678ms	remaining: 119ms
900:	learn: 25249.6328630	total: 711ms	remaining: 78.1ms
950:	learn: 25248.4154708	total: 744ms	remaining: 38.4ms
999:	learn: 25247.3114021	total: 777ms	remaining: 0us
Training model for Dur_s...
0:	learn: 350.3930262	total: 939us	remaining: 939ms
50:	learn: 344.6406735	total: 34ms	remaining: 632ms
100:	learn: 343.3816463	total: 67.6ms	remaining: 602ms
150:	learn: 341.8576943	total: 104ms	remaining: 584ms
200:	learn: 340.9192625	total: 140ms	remaining: 556ms
250:	learn: 340.3976368	total: 177ms	remaining: 529ms
300:	learn: 339.9987368	total: 214ms	remaining: 497ms
350:	learn: 339.7039711	total: 250ms	remaining: 463ms
400:	learn: 339.4912323	total: 284ms	remaining: 424ms
450:	learn: 339.3351543	total: 318ms	remaining: 387ms
500:	learn: 339.2218670	total: 352ms	remaining: 351ms
550:	learn: 339.1297962	total: 386ms	remaining: 314ms
600:	learn: 339.0596273	total: 419ms	remaining: 278ms
650:	learn: 339.0112884	total: 452ms	remaining: 242ms
700:	learn: 338.9719146	total: 486ms	remaining: 207ms
750:	learn: 338.9421114	total: 520ms	remaining: 172ms
800:	learn: 338.9223887	total: 553ms	remaining: 137ms
850:	learn: 338.9010664	total: 587ms	remaining: 103ms
900:	learn: 338.8852798	total: 620ms	remaining: 68.1ms
950:	learn: 338.8732177	total: 654ms	remaining: 33.7ms
999:	learn: 338.8624394	total: 687ms	remaining: 0us
Training model for Peak_c/s...
0:	learn: 5166.5090926	total: 934us	remaining: 933ms
50:	learn: 5130.9534458	total: 34.8ms	remaining: 647ms
100:	learn: 5120.5279413	total: 69.7ms	remaining: 621ms
150:	learn: 5110.3006741	total: 108ms	remaining: 608ms
200:	learn: 5106.6367065	total: 144ms	remaining: 574ms
250:	learn: 5105.1589291	total: 183ms	remaining: 545ms
300:	learn: 5104.4168221	total: 220ms	remaining: 510ms
350:	learn: 5103.8115891	total: 257ms	remaining: 475ms
400:	learn: 5103.5580602	total: 295ms	remaining: 441ms
450:	learn: 5103.3551071	total: 333ms	remaining: 405ms
500:	learn: 5103.2324683	total: 371ms	remaining: 369ms
550:	learn: 5103.1416107	total: 408ms	remaining: 333ms
600:	learn: 5103.0570353	total: 446ms	remaining: 296ms
650:	learn: 5103.0123197	total: 484ms	remaining: 259ms
700:	learn: 5102.9781533	total: 521ms	remaining: 222ms
750:	learn: 5102.9516395	total: 559ms	remaining: 185ms
800:	learn: 5102.9345673	total: 596ms	remaining: 148ms
850:	learn: 5102.9192538	total: 633ms	remaining: 111ms
900:	learn: 5102.9088442	total: 671ms	remaining: 73.7ms
950:	learn: 5102.9000518	total: 707ms	remaining: 36.4ms
999:	learn: 5102.8949780	total: 741ms	remaining: 0us
Training model for Total Counts...
0:	learn: 8724702.9628044	total: 822us	remaining: 822ms
50:	learn: 8676029.0370865	total: 34ms	remaining: 633ms
100:	learn: 8658440.0943549	total: 67.3ms	remaining: 599ms
150:	learn: 8641217.2998785	total: 101ms	remaining: 569ms
200:	learn: 8634313.6064018	total: 135ms	remaining: 538ms
250:	learn: 8632045.2158476	total: 170ms	remaining: 507ms
300:	learn: 8630871.4447607	total: 206ms	remaining: 477ms
350:	learn: 8630179.8048196	total: 240ms	remaining: 444ms
400:	learn: 8629821.5986357	total: 275ms	remaining: 411ms
450:	learn: 8629597.7642013	total: 309ms	remaining: 376ms
500:	learn: 8629442.6274328	total: 344ms	remaining: 342ms
550:	learn: 8629322.4208121	total: 379ms	remaining: 309ms
600:	learn: 8629229.3026940	total: 414ms	remaining: 275ms
650:	learn: 8629174.9451881	total: 448ms	remaining: 240ms
700:	learn: 8629134.0756312	total: 483ms	remaining: 206ms
750:	learn: 8629096.1086714	total: 517ms	remaining: 172ms
800:	learn: 8629070.4933430	total: 552ms	remaining: 137ms
850:	learn: 8629053.4845948	total: 586ms	remaining: 103ms
900:	learn: 8629039.7241877	total: 622ms	remaining: 68.4ms
950:	learn: 8629026.8288464	total: 657ms	remaining: 33.8ms
999:	learn: 8629019.1416756	total: 690ms	remaining: 0us
Training model for X Pos asec...
0:	learn: 689.6493822	total: 975us	remaining: 974ms
50:	learn: 661.6699446	total: 34.5ms	remaining: 643ms
100:	learn: 643.0667106	total: 67.9ms	remaining: 605ms
150:	learn: 628.0669370	total: 103ms	remaining: 578ms
200:	learn: 616.2200561	total: 137ms	remaining: 546ms
250:	learn: 607.3390681	total: 171ms	remaining: 512ms
300:	learn: 600.6739049	total: 206ms	remaining: 478ms
350:	learn: 596.2979354	total: 240ms	remaining: 443ms
400:	learn: 592.8985370	total: 274ms	remaining: 409ms
450:	learn: 590.2645500	total: 308ms	remaining: 375ms
500:	learn: 588.5176419	total: 344ms	remaining: 343ms
550:	learn: 587.1779719	total: 378ms	remaining: 308ms
600:	learn: 586.1792736	total: 412ms	remaining: 274ms
650:	learn: 585.5342294	total: 446ms	remaining: 239ms
700:	learn: 585.0315770	total: 480ms	remaining: 205ms
750:	learn: 584.5276308	total: 514ms	remaining: 171ms
800:	learn: 584.1696786	total: 549ms	remaining: 136ms
850:	learn: 583.8971013	total: 583ms	remaining: 102ms
900:	learn: 583.6669717	total: 616ms	remaining: 67.7ms
950:	learn: 583.4929909	total: 649ms	remaining: 33.5ms
999:	learn: 583.3526118	total: 683ms	remaining: 0us
Training model for Y Pos asec...
0:	learn: 248.2589355	total: 862us	remaining: 862ms
50:	learn: 221.9382024	total: 34.5ms	remaining: 641ms
100:	learn: 214.2658166	total: 68.7ms	remaining: 612ms
150:	learn: 209.0788224	total: 103ms	remaining: 579ms
200:	learn: 206.0090073	total: 138ms	remaining: 547ms
250:	learn: 204.0485935	total: 171ms	remaining: 511ms
300:	learn: 202.7527610	total: 205ms	remaining: 476ms
350:	learn: 201.8189486	total: 239ms	remaining: 442ms
400:	learn: 201.2050399	total: 274ms	remaining: 409ms
450:	learn: 200.7012754	total: 308ms	remaining: 375ms
500:	learn: 200.3895337	total: 342ms	remaining: 340ms
550:	learn: 200.1424832	total: 375ms	remaining: 306ms
600:	learn: 199.9898488	total: 409ms	remaining: 271ms
650:	learn: 199.8527230	total: 443ms	remaining: 238ms
700:	learn: 199.7407948	total: 477ms	remaining: 203ms
750:	learn: 199.6622939	total: 510ms	remaining: 169ms
800:	learn: 199.6067862	total: 544ms	remaining: 135ms
850:	learn: 199.5583369	total: 577ms	remaining: 101ms
900:	learn: 199.5179940	total: 609ms	remaining: 67ms
950:	learn: 199.4885744	total: 643ms	remaining: 33.1ms
999:	learn: 199.4676717	total: 675ms	remaining: 0us
Training model for Radial asec...
0:	learn: 259.2121746	total: 1.03ms	remaining: 1.03s
50:	learn: 247.1702742	total: 34.1ms	remaining: 635ms
100:	learn: 240.2857216	total: 68ms	remaining: 606ms
150:	learn: 235.2016664	total: 103ms	remaining: 579ms
200:	learn: 230.6807816	total: 137ms	remaining: 545ms
250:	learn: 227.5494324	total: 172ms	remaining: 513ms
300:	learn: 225.3631796	total: 207ms	remaining: 482ms
350:	learn: 223.5881567	total: 242ms	remaining: 448ms
400:	learn: 222.3024629	total: 275ms	remaining: 411ms
450:	learn: 221.3345334	total: 310ms	remaining: 377ms
500:	learn: 220.5865025	total: 344ms	remaining: 343ms
550:	learn: 220.0341114	total: 379ms	remaining: 309ms
600:	learn: 219.6400626	total: 413ms	remaining: 274ms
650:	learn: 219.3808251	total: 446ms	remaining: 239ms
700:	learn: 219.1418465	total: 480ms	remaining: 205ms
750:	learn: 218.9071847	total: 514ms	remaining: 170ms
800:	learn: 218.7492807	total: 585ms	remaining: 145ms
850:	learn: 218.6326124	total: 621ms	remaining: 109ms
900:	learn: 218.5380082	total: 656ms	remaining: 72.1ms
950:	learn: 218.4690233	total: 689ms	remaining: 35.5ms
999:	learn: 218.4134025	total: 722ms	remaining: 0us
Training model for AR...
0:	learn: 2190.3877482	total: 910us	remaining: 910ms
50:	learn: 893.8497258	total: 33.9ms	remaining: 632ms
100:	learn: 890.0778356	total: 68.2ms	remaining: 607ms
150:	learn: 886.8696475	total: 103ms	remaining: 580ms
200:	learn: 885.6885614	total: 137ms	remaining: 546ms
250:	learn: 884.9969190	total: 172ms	remaining: 514ms
300:	learn: 884.6175249	total: 207ms	remaining: 480ms
350:	learn: 884.3741749	total: 241ms	remaining: 446ms
400:	learn: 884.2162751	total: 276ms	remaining: 412ms
450:	learn: 884.1113262	total: 311ms	remaining: 379ms
500:	learn: 884.0330660	total: 346ms	remaining: 344ms
550:	learn: 883.9779117	total: 379ms	remaining: 309ms
600:	learn: 883.9390582	total: 413ms	remaining: 274ms
650:	learn: 883.9090042	total: 448ms	remaining: 240ms
700:	learn: 883.8880870	total: 482ms	remaining: 206ms
750:	learn: 883.8712148	total: 518ms	remaining: 172ms
800:	learn: 883.8602798	total: 552ms	remaining: 137ms
850:	learn: 883.8532273	total: 586ms	remaining: 103ms
900:	learn: 883.8457682	total: 620ms	remaining: 68.1ms
950:	learn: 883.8416145	total: 655ms	remaining: 33.7ms
999:	learn: 883.8370707	total: 689ms	remaining: 0us

In [ ]:
models = {}
for target in train_data.columns:
    print(f"Training model for {target}...")
    model = CatBoostRegressor(
        iterations=1000,
        learning_rate=0.1,
        depth=6,
        loss_function='RMSE',
        verbose=50
    )
    x = train_data.drop(columns=[target])
    y = train_data[target]
    model.fit(x, y)
    models[target] = model

Training model for Start...

KeyError: 0

In [84]:
predictions = {}
for target, model in models.items():
    predictions[target] = model.predict(test_data['Date'].values.reshape(-1, 1))

# Combine predictions into a DataFrame
predictions_df = pd.DataFrame(predictions)

In [85]:
predictions_df

,Start,Peak,End,Dur_s,Peak_c/s,Total Counts,X Pos asec,Y Pos asec,Radial asec,AR
0,40407.256499,39571.437182,39688.376340,282.590114,81.872628,9.235941e+04,-207.974384,-54.440117,820.689273,811.395997
1,39427.343426,39562.652611,40036.188966,476.290688,90.940480,2.175669e+05,20.058369,-28.049411,699.949216,5504.291573
2,36394.296384,36416.759603,36577.790424,273.742705,157.429391,1.578327e+05,716.527062,210.199598,782.232038,1229.427393
3,34214.652525,34319.622591,32682.261638,339.130808,124.984099,2.123415e+05,92.225681,-153.483527,764.234799,835.026225
4,42903.925034,41798.733898,41709.267020,322.988905,164.675804,1.630283e+05,-146.725683,-126.823972,761.913598,846.501814
...,...,...,...,...,...,...,...,...,...,...
3143,40407.256499,39571.437182,39688.376340,282.590114,81.872628,9.235941e+04,-207.974384,-54.440117,820.689273,811.395997
3144,43623.289245,43956.330532,44033.019127,494.541481,897.889826,1.081832e+06,486.737136,281.141661,816.829175,151.100456
3145,32916.486038,32889.219054,33110.617345,347.672235,374.337234,4.462998e+05,84.864504,-80.842497,706.734189,509.102653
3146,53297.688515,53510.734322,51768.596251,343.944457,1068.434010,1.457097e+06,497.937708,-217.469181,581.219842,61.138034
3147,34572.120737,34861.983108,35041.513580,294.749475,117.319815,1.137815e+05,256.521157,-45.802454,569.955360,669.729037

In [89]:
total_mse = mean_squared_error(test_data.drop('Date', axis=1), predictions_df)

print(f"Total MSE: {total_mse}")

total_r2 = r2_score(test_data.drop('Date', axis=1), predictions_df)

print(f"Total R^2: {total_r2}")

Total MSE: 2220532863333.3145
Total R^2: 0.16816842350546302

In [68]:
def reset_datime_format(data):
    date_columns = ['Date'] 
    time_columns = ['Start', 'Peak', 'End']

    # Convert date columns back to datetime format
    for col in date_columns:
        data[col] = pd.to_datetime(data[col], unit='D', origin="1970-01-01")

    # Convert time columns back to HH:MM:SS format
    for col in time_columns:
        data[col] = pd.to_timedelta(data[col], unit='s')
        data[col] = (pd.Timestamp("1970-01-01") + data[col]).dt.time

    # Extract only the date part
    data['Date'] = data['Date'].dt.date

    # Round the time to the nearest second
    data['Start'] = data['Start'].apply(lambda x: x.replace(microsecond=0))
    data['Peak'] = data['Peak'].apply(lambda x: x.replace(microsecond=0))
    data['End'] = data['End'].apply(lambda x: x.replace(microsecond=0))

    return data

In [69]:
reset_datime_format(predictions_df)

,Date,Start,Peak,End,Dur_s,Peak_c/s,Total Counts,X Pos asec,Y Pos asec,Radial asec,AR
0,2006-11-10,03:39:32,03:34:16,03:39:46,306.877150,58.979892,3.726567e+04,554.150102,-145.523399,979.073813,833.818164
1,2002-05-20,00:39:07,00:32:48,00:35:34,89.933974,24.494637,8.832093e+04,635.081153,-276.274544,752.730768,9427.572850
2,2011-07-19,20:07:40,20:07:55,20:09:01,123.731170,34.270427,4.394718e+03,813.749375,220.590815,805.899623,1235.915629
3,2006-06-24,09:46:52,09:42:53,09:51:04,146.531748,65.367947,1.988619e+04,384.937974,-117.628638,826.485660,898.697291
4,2010-07-05,23:02:08,23:02:22,23:01:29,72.136543,19.678450,3.408101e+04,-119.094953,-325.070040,654.032885,825.264406
...,...,...,...,...,...,...,...,...,...,...,...
3143,2006-11-03,09:48:58,09:50:57,09:51:27,130.632454,23.109175,-2.240381e+04,-51.881115,-127.684908,971.484952,454.215603
3144,2002-11-19,10:59:36,10:59:55,11:10:31,996.834043,28.745924,1.648073e+05,570.706403,410.558047,875.930097,208.517017
3145,2003-12-15,22:25:56,22:27:31,22:28:52,232.034925,34.332369,-4.370616e+03,1070.928129,-52.081298,998.869112,529.858721
3146,2005-02-04,02:59:33,03:05:03,03:15:34,1205.041237,2984.598016,1.265220e+06,254.964932,-293.322582,285.064712,-56.796746
3147,2004-11-20,21:33:29,21:35:50,21:37:31,104.498964,25.306586,3.396195e+04,93.914433,-152.914214,425.603384,629.475629

In [71]:
def clean_data(data):
    # Get colums (no date and time columns)
    cols = data.columns
    cols = cols.drop(['Date', 'Start', 'Peak', 'End'])

    # Round the predictions to the nearest integer
    data[cols] = data[cols].round().astype(int)

    return data

In [72]:
clean_data(predictions_df)

,Date,Start,Peak,End,Dur_s,Peak_c/s,Total Counts,X Pos asec,Y Pos asec,Radial asec,AR
0,2006-11-10,03:39:32,03:34:16,03:39:46,307,59,37266,554,-146,979,834
1,2002-05-20,00:39:07,00:32:48,00:35:34,90,24,88321,635,-276,753,9428
2,2011-07-19,20:07:40,20:07:55,20:09:01,124,34,4395,814,221,806,1236
3,2006-06-24,09:46:52,09:42:53,09:51:04,147,65,19886,385,-118,826,899
4,2010-07-05,23:02:08,23:02:22,23:01:29,72,20,34081,-119,-325,654,825
...,...,...,...,...,...,...,...,...,...,...,...
3143,2006-11-03,09:48:58,09:50:57,09:51:27,131,23,-22404,-52,-128,971,454
3144,2002-11-19,10:59:36,10:59:55,11:10:31,997,29,164807,571,411,876,209
3145,2003-12-15,22:25:56,22:27:31,22:28:52,232,34,-4371,1071,-52,999,530
3146,2005-02-04,02:59:33,03:05:03,03:15:34,1205,2985,1265220,255,-293,285,-57
3147,2004-11-20,21:33:29,21:35:50,21:37:31,104,25,33962,94,-153,426,629

In [75]:
january_2022_data = pd.DataFrame({
    'Date': pd.date_range(start='2022-01-01', end='2022-01-31', freq='D')
})


january_2022_predictions = {}
for target, model in models.items():
    january_2022_predictions[target] = model.predict(january_2022_data)

# Combine predictions into a DataFrame
january_2022_predictions_df = pd.DataFrame(january_2022_predictions)

CatBoostError: catboost/libs/data/model_dataset_compatibility.cpp:81: At position 0 should be feature with name Start (found Date).